html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}

header{
	background-color: #008ae6;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
}

header img{
	border-radius: 50%;
	border: 9px solid #bfbfbf;
}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	font-style: italic;
	color: lightgray;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;

}

a{
	color: blue;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #e6e6e6;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}